/GameMath/3DMathExercise/.idea
/GameMath/3DMathExercise/Library
/GameMath/3DMathExercise/Logs
/GameMath/3DMathExercise/obj
/GameMath/3DMathExercise/3DMathExercise.sln
/GameMath/3DMathExercise/3DMathExercise.sln.DotSettings.user
/GameMath/3DMathExercise/Assembly-CSharp.csproj
/ComputerLanguage/CsharpLearn/CsharpLearn/Logs
/ComputerLanguage/CsharpLearn/CsharpLearn/obj
/ComputerLanguage/CsharpLearn/CsharpLearn/Temp
/ComputerLanguage/CsharpLearn/CsharpLearn/UserSettings
/ComputerLanguage/CsharpLearn/CsharpLearn/Assembly-CSharp.csproj
/ComputerLanguage/CsharpLearn/CsharpLearn/CsharpLearn.sln
/ComputerLanguage/CsharpLearn/CsharpLearn/.idea
/ComputerLanguage/CsharpLearn/CsharpLearn/Library
/ComputerLanguage/CsharpLearn/CsharpLearn/ProjectSettings
/GamePlay/UnityBattleSystem/BattleSystem/UserSettings
/GamePlay/UnityBattleSystem/BattleSystem/BattleSystem.sln
/GamePlay/UnityBattleSystem/BattleSystem/Library
/GamePlay/UnityBattleSystem/BattleSystem/Logs
/GamePlay/UnityBattleSystem/BattleSystem/Packages
/GamePlay/UnityBattleSystem/BattleSystem/Temp
/GameCamera/CameraControllerTest/CameraControllerTest/Assembly-CSharp-Editor-firstpass.csproj
/GameCamera/CameraControllerTest/CameraControllerTest/Assembly-CSharp-firstpass.csproj
/GameCamera/CameraControllerTest/CameraControllerTest/CameraControllerTest.sln
/GameCamera/CameraControllerTest/CameraControllerTest/.idea
/GameCamera/CameraControllerTest/CameraControllerTest/Library
/GameCamera/CameraControllerTest/CameraControllerTest/Logs
/GameCamera/CameraControllerTest/CameraControllerTest/obj
/GameCamera/CameraControllerTest/CameraControllerTest/Temp
/GameCamera/CameraControllerTest/CameraControllerTest/Assembly-CSharp.csproj

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd


# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage
/GameTools/GameToolsTest/.idea
/GameTools/GameToolsTest/Library
/GameTools/GameToolsTest/Logs
/GameTools/GameToolsTest/obj
/GameTools/GameToolsTest/Temp
/GameTools/GameToolsTest/Assembly-CSharp.csproj
/GameTools/GameToolsTest/GameToolsTest.sln
/GameTools/GameToolsTest/Sirenix.OdinInspector.CompatibilityLayer.csproj
/GameTools/GameToolsTest/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/GameCamera/CameraControllerTest/CameraControllerTest/Assets/MMO RPG Camera & Controller.meta
/GameCamera/CameraControllerTest/CameraControllerTest/Assets/ootii.meta
/GameCamera/CameraControllerTest/CameraControllerTest/Assets/MMO RPG Camera & Controller
/GameCamera/CameraControllerTest/CameraControllerTest/Assets/ootii
/GameCamera/CameraControllerTest/CameraControllerTest/Assets/OriginalResources
/Leetcode/LeetCodeProject/Temp
/Leetcode/LeetCodeProject/UserSettings
/Leetcode/LeetCodeProject/Assembly-CSharp-Editor.csproj
/Leetcode/LeetCodeProject/LeetCodeProject.sln
/Leetcode/LeetCodeProject/Sirenix.OdinInspector.CompatibilityLayer.csproj
/Leetcode/LeetCodeProject/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/Leetcode/LeetCodeProject/.idea
/Leetcode/LeetCodeProject/Library
/Leetcode/LeetCodeProject/Logs
/Leetcode/LeetCodeProject/obj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/Logs
/ComputerGraphics/CSRPLearn/CustomSRPLearn/obj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/Temp
/ComputerGraphics/CSRPLearn/CustomSRPLearn/Assembly-CSharp.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/Assembly-CSharp-Editor.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/CustomSRPLearn.sln
/ComputerGraphics/CSRPLearn/CustomSRPLearn/CustomSRPLearn.sln.DotSettings.user
/ComputerGraphics/CSRPLearn/CustomSRPLearn/UniFramework.Animation.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/UniFramework.Event.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/UniFramework.Machine.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/UniFramework.Network.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/UniFramework.Pooling.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/UniFramework.Reference.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/UniFramework.Singleton.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/UniFramework.Tween.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/UniFramework.Utility.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/UniFramework.Window.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/YooAsset.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/YooAsset.Editor.csproj
/ComputerGraphics/CSRPLearn/CustomSRPLearn/Library
/ComputerGraphics/CSRPLearn/CustomSRPLearn/Bundles
/ComputerGraphics/CSRPLearn/CustomSRPLearn/.idea
/GameAI/BehaviorTreeTest/UserSettings
/GameAI/BehaviorTreeTest/Assembly-CSharp.csproj
/GameAI/BehaviorTreeTest/Assembly-CSharp-Editor.csproj
/GameAI/BehaviorTreeTest/BehaviorTreeTest.sln
/GameAI/BehaviorTreeTest/BehaviorTreeTest.sln.DotSettings.user
/GameAI/BehaviorTreeTest/.idea
/GameAI/BehaviorTreeTest/Library
/GameAI/BehaviorTreeTest/Logs
/GameAI/BehaviorTreeTest/obj
/GameAI/BehaviorTreeTest/Temp
/GamePlay/UnityBattleSystem/BattleSystem/.idea
/GamePlay/UnityBattleSystem/BattleSystem/obj
/GamePlay/UnityBattleSystem/BattleSystem/Assembly-CSharp.csproj
/GamePlay/UnityBattleSystem/BattleSystem/Assembly-CSharp-Editor.csproj
/GamePlay/UnityBattleSystem/BattleSystem/UFE3D.csproj
/GamePlay/UnityBattleSystem/BattleSystem/UFE3D.Editor.csproj
/GameAnimation/AnimancerTest/AnimancerTest/Library
/GameAnimation/AnimancerTest/AnimancerTest/Logs
/GameAnimation/AnimancerTest/AnimancerTest/obj
/GameAnimation/AnimancerTest/AnimancerTest/Temp
/GameAnimation/AnimancerTest/AnimancerTest/Animancer.csproj
/GameAnimation/AnimancerTest/AnimancerTest/Animancer.Examples.csproj
/GameAnimation/AnimancerTest/AnimancerTest/Animancer.FSM.csproj
/GameAnimation/AnimancerTest/AnimancerTest/AnimancerTest.sln
/GameAnimation/AnimancerTest/AnimancerTest/Assembly-CSharp.csproj
/GameAnimation/AnimancerTest/AnimancerTest/LoopScrollRect.Editor.csproj
/GameAnimation/AnimancerTest/AnimancerTest/LoopScrollRect.Runtime.csproj
/GameAnimation/AnimancerTest/AnimancerTest/Sirenix.OdinInspector.CompatibilityLayer.csproj
/GameAnimation/AnimancerTest/AnimancerTest/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/GameAnimation/AnimancerTest/AnimancerTest/XNode.csproj
/GameAnimation/AnimancerTest/AnimancerTest/XNode.Groups.csproj
/GameAnimation/AnimancerTest/AnimancerTest/XNode.Groups.Editor.csproj
/GameAnimation/AnimancerTest/AnimancerTest/XNodeEditor.csproj
/GameAnimation/AnimancerTest/AnimancerTest/XNodeEditorOdin.csproj
/GameAnimation/AnimancerTest/AnimancerTest/XNodeOdin.csproj
/GameAnimation/AnimancerTest/AnimancerTest/.idea
