/GameMath/3DMathExercise/.idea
/GameMath/3DMathExercise/Library
/GameMath/3DMathExercise/Logs
/GameMath/3DMathExercise/obj
/GameMath/3DMathExercise/3DMathExercise.sln
/GameMath/3DMathExercise/3DMathExercise.sln.DotSettings.user
/GameMath/3DMathExercise/Assembly-CSharp.csproj
/ComputerLanguage/CsharpLearn/CsharpLearn/Logs
/ComputerLanguage/CsharpLearn/CsharpLearn/obj
/ComputerLanguage/CsharpLearn/CsharpLearn/Temp
/ComputerLanguage/CsharpLearn/CsharpLearn/UserSettings
/ComputerLanguage/CsharpLearn/CsharpLearn/Assembly-CSharp.csproj
/ComputerLanguage/CsharpLearn/CsharpLearn/CsharpLearn.sln
/ComputerLanguage/CsharpLearn/CsharpLearn/.idea
/ComputerLanguage/CsharpLearn/CsharpLearn/Library
/ComputerLanguage/CsharpLearn/CsharpLearn/ProjectSettings
