/GameMath/3DMathExercise/.idea
/GameMath/3DMathExercise/Library
/GameMath/3DMathExercise/Logs
/GameMath/3DMathExercise/obj
/GameMath/3DMathExercise/3DMathExercise.sln
/GameMath/3DMathExercise/3DMathExercise.sln.DotSettings.user
/GameMath/3DMathExercise/Assembly-CSharp.csproj
/ComputerLanguage/CsharpLearn/CsharpLearn/Logs
/ComputerLanguage/CsharpLearn/CsharpLearn/obj
/ComputerLanguage/CsharpLearn/CsharpLearn/Temp
/ComputerLanguage/CsharpLearn/CsharpLearn/UserSettings
/ComputerLanguage/CsharpLearn/CsharpLearn/Assembly-CSharp.csproj
/ComputerLanguage/CsharpLearn/CsharpLearn/CsharpLearn.sln
/ComputerLanguage/CsharpLearn/CsharpLearn/.idea
/ComputerLanguage/CsharpLearn/CsharpLearn/Library
/ComputerLanguage/CsharpLearn/CsharpLearn/ProjectSettings
/GamePlay/UnityBattleSystem/BattleSystem/UserSettings
/GamePlay/UnityBattleSystem/BattleSystem/BattleSystem.sln
/GamePlay/UnityBattleSystem/BattleSystem/Library
/GamePlay/UnityBattleSystem/BattleSystem/Logs
/GamePlay/UnityBattleSystem/BattleSystem/Packages
/GamePlay/UnityBattleSystem/BattleSystem/Temp
/GameCamera/CameraControllerTest/CameraControllerTest/Assembly-CSharp-Editor-firstpass.csproj
/GameCamera/CameraControllerTest/CameraControllerTest/Assembly-CSharp-firstpass.csproj
/GameCamera/CameraControllerTest/CameraControllerTest/CameraControllerTest.sln
/GameCamera/CameraControllerTest/CameraControllerTest/.idea
/GameCamera/CameraControllerTest/CameraControllerTest/Library
/GameCamera/CameraControllerTest/CameraControllerTest/Logs
/GameCamera/CameraControllerTest/CameraControllerTest/obj
/GameCamera/CameraControllerTest/CameraControllerTest/Temp
/GameCamera/CameraControllerTest/CameraControllerTest/Assembly-CSharp.csproj

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd


# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage
/GameTools/GameToolsTest/.idea
/GameTools/GameToolsTest/Library
/GameTools/GameToolsTest/Logs
/GameTools/GameToolsTest/obj
/GameTools/GameToolsTest/Temp
/GameTools/GameToolsTest/Assembly-CSharp.csproj
/GameTools/GameToolsTest/GameToolsTest.sln
/GameTools/GameToolsTest/Sirenix.OdinInspector.CompatibilityLayer.csproj
/GameTools/GameToolsTest/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/GameCamera/CameraControllerTest/CameraControllerTest/Assets/MMO RPG Camera & Controller.meta
/GameCamera/CameraControllerTest/CameraControllerTest/Assets/ootii.meta
/GameCamera/CameraControllerTest/CameraControllerTest/Assets/MMO RPG Camera & Controller
/GameCamera/CameraControllerTest/CameraControllerTest/Assets/ootii
/GameCamera/CameraControllerTest/CameraControllerTest/Assets/OriginalResources
